/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.header-nav {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.header-nav-logo {
  margin-top: 30px;
  font-size: 60px;
  color: rgb(63, 75, 156);
}

header {
  margin-bottom: 70px;
}

.carousel-images {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

main {
  margin-bottom: 100px;
}

.headers {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-align: center;
  font-size: 30px;
  color: rgb(79, 79, 176);
  border: 1px solid;
}

.guide-headers {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-align: center;
}

.guide-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 20px;
  margin-bottom: 10px;
}

.guides {
  margin: 0 auto;
  margin-bottom: 50px;
}

.explore-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  margin-left: 35px;
}

.guide-description-mike {
  height: 120px !important;
}

footer {
  background-color: #2a4776;
  padding: 50px;
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer-left-side {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #d3d3d3;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  footer .footer-left-side {
    justify-content: space-evenly;
    width: 70%;
  }
}
@media (max-width: 500px) {
  footer .footer-left-side {
    justify-content: space-evenly;
    width: 80%;
  }
}
@media (max-width: 400px) {
  footer .footer-left-side {
    justify-content: space-evenly;
    width: 100%;
  }
}
footer .footer-left-side p {
  margin-bottom: 25px;
}
footer .footer-left-side div {
  width: 30%;
}
footer .footer-right-side {
  width: 20%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #727272;
  line-height: 15px;
  margin-right: 30px;
}/*# sourceMappingURL=styles.css.map */